In [32]:
import pandas as pd

df = pd.read_excel('wongnai_menu_info.xlsx')

In [36]:
menu_list = df['menu_name'].tolist()
menu_lst = menu_list[212:225]

In [38]:
template = f"""
ฉันมีรายการเมนูดังต่อไปนี้:

{menu_lst}

กรุณาวิเคราะห์และแสดง **ส่วนผสมหลัก** และ **รสชาติ** ของแต่ละเมนูในรูปแบบของตาราง  
- **ห้ามระบุยี่ห้อหรือสายพันธุ์ของวัตถุดิบ**  
- ตอบเป็น **ภาษาไทย**  
- ใช้ชื่อเมนูที่ถูกต้องโดยใช้ขอมูลจาก menu_list ที่ฉันให้ไว้เป็นการอ้างอิง
- เมนูให้แสดงเป็น **string** ไม่ใช่ list
- ส่วนผสมให้แสดงเป็น **string** ไม่ใช่ list  
- รสชาติให้แสดงเป็น **string** ไม่ใช่ list  
- จัดเรียงข้อมูลในรูปแบบที่สามารถคัดลอกไปวางใน Excel ได้ง่าย  

**ตัวอย่าง Output ที่ต้องการ:**

### **เมนู**
หมูทอดกระเทียมราดข้าว
ไก่ทอดกระเทียมราดข้าว
เนื้อทอดกระเทียมราดข้าว
กุ้งทอดกระเทียมราดข้าว
ข้าวสวย


### **คอลัมน์ส่วนผสม**
หมู, กระเทียม, พริกไทย, น้ำปลา, ข้าว
ไก่, กระเทียม, พริกไทย, น้ำปลา, ข้าว
เนื้อ, กระเทียม, พริกไทย, น้ำปลา, ข้าว
กุ้ง, กระเทียม, พริกไทย, น้ำปลา, ข้าว
ข้าว
ไข่ไก่, น้ำมัน
ไข่เป็ด


### **คอลัมน์รสชาติ**
เค็ม, หอม, มัน
เค็ม, หอม, มัน
เค็ม, หอม, มัน
เค็ม, หอม, มัน
จืด
เค็ม, มัน
เค็ม, มัน


กรุณาสร้าง Output ที่ตรงตามตัวอย่างนี้ โดยใช้ข้อมูลจาก menu_list ที่ฉันให้ไว้
"""

In [39]:
print(template)

ฉันมีรายการเมนูดังต่อไปนี้:

['ฮัท 1 ฟรี 1 พิซซ่าเลิฟเวอร์ ขอบสเปเชียล ถาดกลาง (PROMOTION|FA1KLV|I310|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าสุพรีม ถาดกลาง (PROMOTION|FA1PTSP|I314|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าเลิฟเวอร์ ขอบชีส ถาดกลาง (PROMOTION|FA1CLV|I309|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าสุพรีม ขอบสเปเชียล ถาดกลาง (PROMOTION|FA1KSP|I316|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าซีฟู้ด ถาดกลาง (PROMOTION|FA1PTSF|I317|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าดีลักซ์ ขอบสเปเชียล ถาดกลาง (PROMOTION|FA1KDL|I313|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าซีฟู้ด ขอบชีส ถาดกลาง (PROMOTION|FA1CSF|I318|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าดีลักซ์ ถาดกลาง (PROMOTION|FA1PTDL|I311|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าซีฟู้ด ขอบสเปเชียล ถาดกลาง (PROMOTION|FA1KSF|I319|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าสุพรีม ขอบชีส ถาดกลาง (PROMOTION|FA1CSP|I315|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าดีลักซ์ ขอบชีส ถาดกลาง (PROMOTION|FA1CDL|I312|NA)', 'ฮัท 1 ฟรี 1 เครื่องดื่ม 16 oz. (PROMOTION|FA1F1B|I347|NA)', 'ฮัท 1 ฟรี 1 พิซซ่าสไตล์นาโปลี หมวดซีฟู้ด (PROMOTION|FA1NPSF|I370|NA)']

กรุณาวิเคราะห์และแสดง **ส่วนผสมหลัก** และ **รสชาติ** ของแต่ละเมนูในรูปแบบของตาราง
- **ห้ามระบุยี่ห้อหรือสายพันธุ์ของวัตถุดิบ**
- ตอบเป็น **ภาษาไทย**
- ใช้ชื่อเมนูที่ถูกต้องโดยใช้ขอมูลจาก menu_list ที่ฉันให้ไว้เป็นการอ้างอิง
- เมนูให้แสดงเป็น **string** ไม่ใช่ list
- ส่วนผสมให้แสดงเป็น **string** ไม่ใช่ list
- รสชาติให้แสดงเป็น **string** ไม่ใช่ list
- จัดเรียงข้อมูลในรูปแบบที่สามารถคัดลอกไปวางใน Excel ได้ง่าย

**ตัวอย่าง Output ที่ต้องการ:**

### **เมนู**
หมูทอดกระเทียมราดข้าว
ไก่ทอดกระเทียมราดข้าว
เนื้อทอดกระเทียมราดข้าว
กุ้งทอดกระเทียมราดข้าว
ข้าวสวย


### **คอลัมน์ส่วนผสม**
หมู, กระเทียม, พริกไทย, น้ำปลา, ข้าว
ไก่, กระเทียม, พริกไทย, น้ำปลา, ข้าว
เนื้อ, กระเทียม, พริกไทย, น้ำปลา, ข้าว
กุ้ง, กระเทียม, พริกไทย, น้ำปลา, ข้าว
ข้าว
ไข่ไก่, น้ำมัน
ไข่เป็ด


### **คอลัมน์รสชาติ**
เค็ม, หอม, มัน
เค็ม, หอม, มัน
เค็ม, หอม, มัน
เค็ม, หอม, มัน
จืด
เค็ม, มัน
เค็ม, มัน


กรุณาสร้าง Output ที่ตรงตามตัวอย่างนี้ โดยใช้ข้อมูลจาก menu_list ที่ฉันให้ไว้

In [40]:
df2 = pd.read_excel('wongnai_dataset_based_version.xlsx', sheet_name='menu_info')
df2.head()

,restaurant_name,menu_image,menu_name,ingredients
0,Starbucks (สตาร์บัคส์),https://img.wongnai.com/p/128x128/2025/02/13/b...,Blossom Coconut Roll (8512013066),"แป้งเค้ก, มะพร้าวขูด, น้ำตาล, ไข่, เนย"
1,Starbucks (สตาร์บัคส์),https://img.wongnai.com/p/128x128/2025/02/13/1...,Lychee Rose Juice Mixed with Pomegranate (8512...,"ลิ้นจี่, น้ำกุหลาบ, น้ำทับทิม, น้ำตาล, น้ำแข็ง"
2,Starbucks (สตาร์บัคส์),https://img.wongnai.com/p/128x128/2025/02/13/6...,Mango Yogurt Cake (8512003482),"มะม่วง, โยเกิร์ต, แป้งเค้ก, น้ำตาล, ไข่, เนย"
3,Starbucks (สตาร์บัคส์),https://img.wongnai.com/p/128x128/2025/02/13/a...,Honey Nougat Cream Frappuccino (3PL0013920),"นม, น้ำผึ้ง, นูกัต, ครีม, กาแฟ, น้ำแข็ง"
4,Starbucks (สตาร์บัคส์),https://img.wongnai.com/p/128x128/2025/02/13/0...,Honey Nougat Oatmilk Macchiato (3PL0013861),"นมข้าวโอ๊ต, น้ำผึ้ง, นูกัต, กาแฟ"

In [41]:
#Create columns 400x400_menu_image
df2['400x400_menu_image'] = df2['menu_image'].str.replace('128x128', '400x400')

In [43]:
df2.to_excel('wongnai_dataset_based_version.xlsx', index=False)

In [47]:
#Find missing value on 400x400_menu_image columns
missing_value = df2['400x400_menu_image'].isnull().sum()

#replace missing value with 'https://static2.wongnai.com/static2/images/1MeNbWa.png
df2['400x400_menu_image'].fillna('https://static2.wongnai.com/static2/images/1MeNbWa.png', inplace=True)

In [50]:
df2.isnull().sum()

restaurant_name          0
menu_image             119
menu_name                0
ingredients           3888
400x400_menu_image       0
dtype: int64